@import "ResetStyles.scss";
.app {
    max-width: 400px;
    margin: 50% auto;
    padding: 20px;
    background-color: rgb(6, 6, 63);
    border: 1px solid #100f0f;
    border-radius: 5px;

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        width: 30%;
        margin-top: 10px;
        padding: 10px 12px;
        background-color: #007bff;
        font-size: 16px;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #2866a8;
        }
    }
}
